page-items {
    /*.item-col {
        padding: 3px;
        cursor: pointer;
    }
    .item {
        padding: 3px;
        border: 1px solid #393739;
        border-radius: 6px;
        text-align: center;
    }*/
    
}
