page-login {
    .scroll-content{
        width: 100%;
        background: url('../assets/imgs/c12.jpg') no-repeat;
        -webkit-background-size:cover;
        background-position: bottom center;
        padding: 50px 20px;
        min-height: 100%;
    }
    .item-md {
        background-color: rgba(255, 255, 255, 0.6);;
    }
    .logo {
        width: 100%;
    }
}
