<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>العروض
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let type of promotionsTypes; let i = index">
    <ion-card-header>
      {{type[0].PromotionTypeNameAr}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item style="border-top: 1px solid #eae8ea" *ngFor="let promotion of type; let n = index" (click)="selectedPromotion(i, n)">
          <ion-thumbnail item-start>
            <img src="assets/imgs/icon.jpg">
          </ion-thumbnail>
          <p>{{promotion.Description}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <button ion-button round full type="button" color="danger" (click)="onDismiss()">إلغاء</button>
</ion-footer>