<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        القماش الفرعي
      </ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list radio-group [(ngModel)]="selectedType">
      <ion-item *ngFor="let type of secondaryFabricDTO">
        <ion-label>{{type.SecondryFabricName}} <span style="float: left;">{{type.SecondryFabricCode}}</span>
        </ion-label>
        <ion-radio [value]="type.SecondryFabricCode"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button ion-button round full type="button" color="default" *ngIf="selectedType !== ''" (click)="saveItem()">حفظ</button>
    <button ion-button round full type="button" color="danger" (click)="dismiss()">إلغاء</button>
  </ion-footer>